body {
  background-color: #0a0a23;
  display: flex;
  justify-content: center;
}
  
#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}
  
#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}
  
#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}
  
#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}
  
.stat {
  padding-right: 10px;
}
  
button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}

@media (max-width: 426px) {
  body {
    background-color: #333380;
  }
  
  #game{
    width: 100%;
  }
  #text {
    background-color: #333380;
    font-size: 17px;
    
  }
  #stats{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
  #controls{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
    
  button {
    padding: 7px 0;
  } 
}